# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Laravel
/vendor
/storage/*.key
/storage/pail
/bootstrap/cache/*.php
!bootstrap/cache/.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
/public/build
/public/hot
/public/storage
Homestead.json
Homestead.yaml
auth.json
